* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

.container {
  height: 100%;
  width: 100%;
  background-image: url("../images/bg-img.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex; }

.game-container {
  height: 80%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.cards {
  height: 30%;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 1% 2%; }

.scoreboard {
  background-color: rgba(255, 255, 255, 0.3);
  height: 10%;
  width: 10%;
  margin: auto;
  text-align: center;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center; }

.player1 > h4, .player2 > h4 {
  font-size: 1.25vw;
  margin: auto 0;
  border-bottom: 2px solid black; }

.player1 > p, .player2 > p {
  font-size: 2.50vw; }
