* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

.container {
  height: 100%;
  width: 100%;
  background-image: url("../images/bg-img.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap; }

.scoreboard-container {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between; }

.scoreboard {
  background-color: rgba(255, 255, 255, 0.3);
  width: 48%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  
  display: flex;
  justify-content: center; }

.player1 > h4, .player2 > h4 {
  font-size: 2vw;
  font-weight: 300;
  border-bottom: 1px solid #770e84;
  color:#770e84;}

.player1 > p, .player2 > p {
  font-size: 2.50vw;
  font-weight: 000;
  color:#770e84;}

.game-container {
  height: 84%;
  width: 60%;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.75% 0; }

.cards {
  height: 30%;
  width: 17.5%;
  background: url(../images/cardBG.jpg) center center no-repeat;
  background-size: cover;
  margin: 1% 2%; }
